* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-size: cover;
    background: url(../img/background.jpg) no-repeat fixed center center;
    width: 100%;
    height: 100%;
}


.main {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    width: 350px;
    height: auto;
    /*以下css用于让登录表单垂直居中在界面,可删除*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -175px auto 50px -175px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 10px 10px;
}

.title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.title span {
    font-size: 20px;
    color: #fff;


}

.title:hover {
    cursor: default;
}

.title-msg:hover {
    cursor: default;
}

.title-msg span {
    font-size: 12px;
    color: #707472;
}

.input-content {
    width: 100%;
    height: auto;
}

.input-content input {
    width: 100%;
    height: 40px;
    border: 1px solid #dad9d6;
    background: #ffffff;

    padding-left: 10px;
    padding-right: 10px;
}

.enter-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    color: #fff;
    background: #AC58FA;
    line-height: 40px;
    text-align: center;
    border: 0;
}


.enter-btn:hover {
    cursor: pointer;
    background: #4B088A;
}

