<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/delicate/iMall/dao/AdminDaoMapper.xml"/>
        <mapper resource="com/delicate/iMall/dao/CartDaoMapper.xml"/>
        <mapper resource="com/delicate/iMall/dao/OrderDaoMapper.xml"/>
        <mapper resource="com/delicate/iMall/dao/ProductCategoryDaoMapper.xml"/>
        <mapper resource="com/delicate/iMall/dao/ProductDaoMapper.xml"/>
        <mapper resource="com/delicate/iMall/dao/UserAddressDaoMapper.xml"/>
        <mapper resource="com/delicate/iMall/dao/UserDaoMapper.xml"/>
    </mappers>
</configuration>